{% extends "base/base.html" %}
{% load static %}

{% block content %}

<!-- calendrier -->

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        {% for event in events %}
        <h2 class="featurette-heading">{{ event.title }}. <span class="text-muted">{{ event.child.nom }}.</span></h2>
        <p class="lead">{{ event.description }}</p>
        <p class="lead">{{ event.start_time }} / {{ event.end_time }}</p>
        {% endfor %}
    </div>
    <div class="col-md-5 order-md-1">
        <center class="w-100 p-5">
            {{ calendrier|safe }}
            </br>
            <a href=""> precedent</a>
            <a href=""> suivant</a>
        </center>
    </div>
</div>


<hr>

<!-- contrats en cours -->
<div class="album py-5 bg-light">
    <p> Contrats en cours</p>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for enfant in enfants %}
            {% if enfant.statut == "En_cours" %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if enfant.photo %}
                    <img src="{{ enfant.photo.url }}" class="w-50 p-2" alt="Image">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Nom: {{ enfant.nom }} </p>
                        <p class="card-text">Prénom: {{ enfant.prenom }} </p>
                        <p class="card-text">Anniversaire: {{ enfant.date_anniv }} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'family:child_details' pk=enfant.id %}"> Détails </a>
                            </div>
                            <small class="text-muted">{{ enfant.date_creation }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<hr>

<!-- contrats terminés -->
<div class="album py-5 bg-light">
    <p> Contrats terminés</p>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for enfant in enfants %}
            {% if enfant.statut == "Terminé" %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if enfant.photo %}
                    <img src="{{ enfant.photo.url }}" class="w-50 p-3" alt="Image">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Nom: {{ enfant.nom }} </p>
                        <p class="card-text">Prénom: {{ enfant.prenom }} </p>
                        <p class="card-text">Anniversaire: {{ enfant.date_anniv }} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'family:child_details' pk=enfant.id %}"> Détails </a>
                            </div>
                            <small class="text-muted">{{ enfant.date_creation }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}